@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
  body {
    background-color: var(--color-nike-off-white);
    color: var(--color-nike-black);
  }
}