@import "tailwindcss";

@theme {

  --color-nike-black: #111111;
  --color-nike-white: #ffffff;
  --color-nike-off-white: #f5f5f5;

  --color-nike-gray-50: #fafafa;
  --color-nike-gray-100: #f5f5f5;
  --color-nike-gray-200: #e5e5e5;
  --color-nike-gray-400: #a3a3a3;
  --color-nike-gray-500: #737373;
  --color-nike-gray-900: #171717;

  --color-nike-red: #e01e3f;
  --color-nike-cyan: #00a2b4;
  --color-nike-lime: #8dc63f;

  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif; 


}

@layer base {
  html {
    font-family: var(--font-sans);
  }
  body {
    background-color: var(--color-nike-off-white);
    color: var(--color-nike-black);
  }
}